@font-face {
    font-family: '20 Kopeek';
    src: url('fonts/20Kopeek-Book.eot');
    src: url('fonts/20Kopeek-Book.eot?#iefix') format('embedded-opentype'),
    url('fonts/20Kopeek-Book.woff2') format('woff2'),
    url('fonts/20Kopeek-Book.woff') format('woff'),
    url('fonts/20Kopeek-Book.ttf') format('truetype'),
    url('fonts/20Kopeek-Book.svg#20Kopeek-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
